<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bly.power.service.mapper.CompanyMapper">

	<sql id="table_name">
		t_sys_company
	</sql>
	<sql id="table_link_name">
		t_sys_company c 
		LEFT JOIN t_power_user sc
		ON c.creator = sc.id
		LEFT JOIN t_sys_user su
		ON c.updater = su.id
	</sql>
	<sql id="table_order">
		<choose>
			<when test="order !=null and sort !=null">
				ORDER BY ${sort} ${order}
			</when>
			<otherwise>
				ORDER BY id DESC
			</otherwise>
		</choose>
	</sql>
	
	<sql id="table_link_order">
		<choose>
			<when test="order !=null and sort !=null">
				ORDER BY ${sort} ${order}
			</when>
			<otherwise>
				ORDER BY c.id DESC
			</otherwise>
		</choose>
	</sql>
	
	<sql id="table_page">
		<if test="rowStart !=null  and  rowEnd !=null ">
			<![CDATA[LIMIT #{rowStart},#{rowEnd}]]>
		</if>
	</sql>
	<sql id="where_condition">
		WHERE isDeleted=0
		<if test="id !=null">
			<![CDATA[ AND id =#{id}]]>
		</if>
		<if test="comCode !=null and  comCode !=''">			
			<![CDATA[ AND comCode LIKE CONCAT('%',#{comCode},'%')]]>
		</if>
		<if test="comName !=null and  comName !=''">
			<![CDATA[ AND comName LIKE CONCAT('%',#{comName},'%')]]>
		</if>
		<if test="comShortName !=null and  comShortName !=''">
			<![CDATA[ AND comShortName LIKE CONCAT('%',#{comShortName},'%')]]>
		</if>
		<if test="registerName !=null and registerName !=''">
			<![CDATA[ AND registerName=#{registerName}]]>
		</if>
		<if test="property !=null and property !=''">
			<![CDATA[ AND property=#{property}]]>
		</if>
		<if test="registerCapital !=null and registerCapital !=''">
			<![CDATA[ AND registerCapital=#{registerCapital}]]>
		</if>
		<if test="payType !=null">
			<![CDATA[ AND payType=#{payType}]]>
		</if>
		<if test="makeSize !=null and makeSize !=''">
			<![CDATA[ AND makeSize=#{makeSize}]]>
		</if>
		<if test="mail !=null and mail !=''">
			<![CDATA[ AND mail=#{mail}]]>
		</if>	
		<if test="linkMan !=null and linkMan !=''">
			<![CDATA[ AND linkMan LIKE CONCAT('%',#{linkMan},'%')]]>
		</if>
		<if test="contactWay !=null and contactWay !=''">
			<![CDATA[ AND contactWay LIKE CONCAT('%',#{linkMan},'%')]]>
		</if>
		<if test="address !=null and address !=''">
			<![CDATA[ AND address=#{address}]]>
		</if>
		<if test="parentId !=null">
			<![CDATA[ AND parentId =#{parentId}]]>
		</if>
		<if test="status !=null">
			<![CDATA[ AND status =#{status}]]>
		</if>
	</sql>
	
	<sql id="where_link_condition">
		WHERE c.isDeleted=0
		<if test="id !=null">
			<![CDATA[ AND c.id =#{id}]]>
		</if>
		<if test="comCode !=null and  comCode !=''">			
			<![CDATA[ AND c.comCode LIKE CONCAT('%',#{comCode},'%')]]>
		</if>
		<if test="comName !=null and  comName !=''">
			<![CDATA[ AND c.comName LIKE CONCAT('%',#{comName},'%')]]>
		</if>
		<if test="comShortName !=null and  comShortName !=''">
			<![CDATA[ AND c.comShortName LIKE CONCAT('%',#{comShortName},'%')]]>
		</if>
		<if test="registerName !=null and registerName !=''">
			<![CDATA[ AND c.registerName=#{registerName}]]>
		</if>
		<if test="property !=null and property !=''">
			<![CDATA[ AND c.property=#{property}]]>
		</if>
		<if test="registerCapital !=null and registerCapital !=''">
			<![CDATA[ AND c.registerCapital=#{registerCapital}]]>
		</if>
		<if test="payType !=null">
			<![CDATA[ AND c.payType=#{payType}]]>
		</if>
		<if test="makeSize !=null and makeSize !=''">
			<![CDATA[ AND c.makeSize=#{makeSize}]]>
		</if>
		<if test="mail !=null and mail !=''">
			<![CDATA[ AND c.mail=#{mail}]]>
		</if>	
		<if test="linkMan !=null and linkMan !=''">
			<![CDATA[ AND c.linkMan LIKE CONCAT('%',#{linkMan},'%')]]>
		</if>
		<if test="contactWay !=null and contactWay !=''">
			<![CDATA[ AND c.contactWay LIKE CONCAT('%',#{linkMan},'%')]]>
		</if>
		<if test="address !=null and address !=''">
			<![CDATA[ AND c.address=#{address}]]>
		</if>
		<if test="parentId !=null">
			<![CDATA[ AND c.parentId =#{parentId}]]>
		</if>
		<if test="status !=null">
			<![CDATA[ AND c.status =#{status}]]>
		</if>
	</sql>
	
	<select id="count" resultType="long" parameterType="map">
		SELECT COUNT(c.id)
		FROM
		<include refid="table_link_name" />
		<include refid="where_link_condition" />
	</select>

	<select id="select"
		resultType="com.bly.power.interfaces.entity.system.CompanyEntity">
		SELECT c.id, c.comCode,c.comName,c.comShortName,c.registerName,
			   c.property, c.registerCapital,c.payType, c.makeSize,
			   c.mail, c.linkMan,c.contactWay,c.address, c.level, 
			   c.area, c.scope, c.remark,c.parentId,c.status,
			   c.isDeleted, c.createTime, c.creator, c.updateTime, c.updater,
			   sc.realName AS createrName , su.realName AS updaterName
		FROM
		<include refid="table_link_name" />
		<include refid="where_link_condition" />
		<include refid="table_link_order" />
		<include refid="table_page" />
	</select>

	<!-- 查询公司的列表 -->
	<select id="selectCompanyListInfo" resultType="java.util.HashMap">
		SELECT id, comCode,comName,comShortName,registerName from 
		<include refid="table_name" />
		where isDeleted = 0 
		<choose>
			<when test="fun != null and fun !=''">
				<!-- userd by query -->
			</when>
			<otherwise>
				AND status = 0
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert"
		parameterType="com.bly.power.interfaces.entity.system.CompanyEntity">
		INSERT INTO
		<include refid="table_name" />
		(comCode,comName,comShortName,registerName,
		 property, registerCapital,payType, makeSize,
		 mail, linkMan,contactWay,address, level, 
		 area, scope, remark,parentId,status,
		isDeleted,createTime, creator, updateTime, updater)
		VALUES(#{comCode},#{comName},#{comShortName},#{registerName},
			   #{property}, #{registerCapital},#{payType}, #{makeSize},
			   #{mail}, #{linkMan},#{contactWay},#{address}, #{level}, 
			    #{area}, #{scope}, #{remark},#{parentId},#{status},
				0,now(),#{creator},now(),#{updater})
	</insert>

	<update id="update"
		parameterType="com.bly.power.interfaces.entity.system.CompanyEntity">
		UPDATE
		<include refid="table_name" />
		SET updateTime=now()
		<if test="comCode !=null and  comCode !=''">
				<![CDATA[, comCode=#{comCode}]]>
		</if>
		<if test="comName !=null and  comName !=''">
				<![CDATA[ , comName=#{comName}]]>
		</if>
		<if test="comShortName !=null and  comShortName !=''">
				<![CDATA[ , comShortName=#{comShortName}]]>
		</if>
		<if test="registerName !=null and  registerName !=''">
				<![CDATA[ , registerName=#{registerName}]]>
		</if>
		<if test="property !=null and  property !=''">
				<![CDATA[ , property=#{property}]]>
		</if>
		<if test="registerCapital !=null and  registerCapital !=''">
				<![CDATA[ , registerCapital=#{registerCapital}]]>
		</if>
		<if test="payType !=null ">
				<![CDATA[ , payType=#{payType}]]>
		</if>
		<if test="makeSize !=null and  makeSize !=''">
				<![CDATA[ , makeSize=#{makeSize}]]>
		</if>
		<if test="mail !=null and  mail !=''">
				<![CDATA[ , mail=#{mail}]]>
		</if>
		<if test="linkMan !=null and linkMan !=''">
				<![CDATA[, linkMan=#{linkMan}]]>
		</if>
		<if test="contactWay !=null and contactWay !=''">
				<![CDATA[, contactWay=#{contactWay}]]>
		</if>
		<if test="address !=null and address !=''">
				<![CDATA[, address=#{address}]]>
		</if>
		<if test="level !=null and level !=''">
				<![CDATA[, level=#{level}]]>
		</if>
		<if test="area !=null and area !=''">
				<![CDATA[, area=#{area}]]>
		</if>
		<if test="scope !=null and scope !=''">
				<![CDATA[, scope=#{scope}]]>
		</if>
		<if test="remark !=null and remark !=''">
				<![CDATA[, remark=#{remark}]]>
		</if>
		<if test="parentId !=null">
				<![CDATA[, parentId=#{parentId}]]>
		</if>
		<if test="status !=null">
				<![CDATA[, status=#{status}]]>
		</if>
		<if test="creator !=null">
				<![CDATA[, creator=#{creator}]]>
		</if>
		<if test="updater !=null">
				<![CDATA[, updater=#{updater}]]>
		</if>
		WHERE id=#{id}
	</update>

	<update id="delete" parameterType="long">
		UPDATE
		<include refid="table_name" />
		SET updateTime=now(),isDeleted=1
		WHERE id=#{id}
	</update>

	<select id="find"
		resultType="com.bly.power.interfaces.entity.system.CompanyEntity"
		parameterType="long">
		SELECT c.id, c.comCode,c.comName,c.comShortName,c.registerName,
			   c.property, c.registerCapital,c.payType, c.makeSize,
			   c.mail, c.linkMan,c.contactWay,c.address, c.level, 
			   c.area, c.scope, c.remark,c.parentId,c.status,
			   c.isDeleted, c.createTime, c.creator, c.updateTime, c.updater,
			   sc.realName AS createrName , su.realName AS updaterName
		FROM
		<include refid="table_link_name" />
		WHERE c.id=#{id}
	</select>
	
	<update id="deleteById" parameterType="long">
		UPDATE
		<include refid="table_name" />
		SET updateTime=now(),isDeleted=1
		WHERE id=#{id} and status=1
	</update>
	
	<update id="enableOrFreeze">
		UPDATE
		<include refid="table_name" />
		SET updateTime=now(),status=#{status}
		WHERE id=#{id}
	</update>

</mapper>